.img {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
}

input[type=file] {
  width: 300px;
}

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

.btn {
  border: 2px solid #6c5ce7;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover,
.btn:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.hidden {
  display: none;
}

.add2Button {
  background-color: #8eb904;
  color: white;
  border: 0;
  padding: 15px 25px;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.add2Button:hover {
  background-color: green;
  cursor: pointer;
}

/* Desktop View */
@media only screen and (min-device-width: 480px) {
  .add2Container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 450px;
  }

  .img {
    border: 2px solid black;
    border-radius: 10px;
    width: 450px;
  }

  input[type=file] {
    width: 450px;
  }
}
