.homeTitle {
  margin-bottom: 50px;
}

.doctorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.doctorContainer > a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.doctor > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 30px;
  border: 1px solid gainsboro;
  margin: 0;
}
