.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 30px;
}

.home-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 30px;
}

.doctor-details {
  display: flex;
  flex-direction: column;
}

.doctor-details > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 30px;
}
