/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.navWelcome {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Mobile View */
@media only screen and (max-device-width: 480px) {
  .navContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .viewContainer {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 30px 10px 15px;
    margin-left: 5px;
  }

  .viewContainer > a {
    text-decoration: none;
    color: black;
    padding: 1px;
  }

  .view {
    display: none;
  }

  .hamView {
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
  }

  /* doctors title */
  .viewDoctors {
    display: none;
  }

  /* social network icons */
  .socialContainer {
    display: none;
  }
  
  .select {
    padding: 10px !important;
    background-color: #8eb904;
    color: white;
  }
}

/* Desktop View */
@media only screen and (min-device-width: 480px) {
  .navContainer {
    flex: 0 0 200px;
  }

  .viewContainer.view,
  .viewContainer {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .viewContainer > a {
    text-decoration: none;
    width: 100%;
  }

  .viewContainer > a > p {
    color: black;
    padding: 10px 40px 10px 20px;
    font-weight: 500;
    width: 200px;
  }

  .viewContainer > a > p:hover,
  .select {
    color: white !important;
    background-color: #8eb904;
  }
  
  .logout:hover {
    color: white !important;
    background-color: tomato !important;
  }

  .view {
    display: block;
  }

  .hamView {
    display: none;
  }

  /* doctors title */
  .viewDoctors {
    padding-left: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 80px;
    margin: 0;
    font-family: 'Fasthand', cursive;
    text-decoration: underline;
    transform: rotate(-20deg);
  }

  .socialContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 15px;
    margin-bottom: 10px;
  }

  .socialIcons {
    display: flex;
    gap: 10px;
  }
}
