.AppContainer {
  display: flex;
  flex-direction: row;
}

.RoutesContainer {
  margin: 0 30px;
}

/* Mobile View */
@media only screen and (max-device-width: 480px) {
  .AppContainer {
    margin-top: 40px;
  }
}

/* Desktop View */
@media only screen and (min-device-width: 480px) {
  .AppContainer {
    height: 100vh;
  }
}
